---
layout: news
---

<article>
  <h2 class="blog-post-title">
    <a href="{{ site.baseurl }}{{ page.url }}">
      {{ page.title }}
    </a>
  </h2>
  <div class="blog-post-meta">
    <span>
      {{ page.date | date: '%B %d, %Y' }}
    </span>
    <a href="https://github.com/{{ page.author }}">
      <img src="https://github.com/{{ page.author }}.png" alt="{{ page.author }}" width="24" height="24">
      {{ page.author }}
    </a>
  </div>
  <div class="blog-post">
    {{ content }}
  </div>
</article>