---
layout: default
title: Cinnamon News
---

<link rel='stylesheet' href='{{ site.baseurl }}/assets/css/blog.css'/>
<div class="blog-header">
    <h1 class="blog-title">{{ page.title }}</h1>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        {{ content }}
    </div>
    <!-- /.news-content -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
            <h3>Recent Posts</h3>
            <ul class="list-unstyled">
                {% for post in site.posts limit:10 %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.sub-title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /.news-sidebar -->
</div>